<div class="container" [class]="'h-container'">
  <div class="form">
    <form
      #registrationform="ngForm"
      (ngSubmit)="formFun(registrationform); displayDetails(); sendData($event)"
    >
      <div class="form-group mb-2">
        <label for="firstname" [style.font-weight]="'bolder'">FirstName:</label>
        <input
          type="text"
          class="form-control mt-1"
          placeholder="Enter Your FirstName"
          [(ngModel)]="firstname"
          required
          (key.enter)="sendData($event)"
          name="fname"
          #fname="ngModel"
          pattern="[a-zA-Z]"
        />
        <small
          *ngIf="registrationform.submitted"
          [ngStyle]="{ color: 'red', 'font-weight': 'bolder' }"
        >
          <span *ngIf="fname.hasError('required')">
            This field is mandatory
          </span>
          <span *ngIf="fname.hasError('pattern')">
            This field only accept alphabets
          </span>
        </small>
      </div>

      <div class="form-group mb-2">
        <label for="lastname" [style.font-weight]="'bolder'">LastName:</label>
        <input
          type="text"
          class="form-control mt-1"
          placeholder="Enter Your LastName"
          [(ngModel)]="lastname"
          required
          (key.enter)="sendData($event)"
          name="lname"
          #lname="ngModel"
          pattern="[a-zA-Z]"
        />
        <small
          *ngIf="registrationform.submitted"
          [ngStyle]="{ color: 'red', 'font-weight': 'bolder' }"
        >
          <span *ngIf="lname.hasError('required')"
            >This field is mandatory</span
          >
          <span *ngIf="lname.hasError('pattern')">
            This field only accept alphabets
          </span>
        </small>
      </div>

      <div class="form-group mb-2">
        <label for="email" [style.font-weight]="'bolder'">Email:</label>
        <input
          type="email"
          class="form-control mt-1"
          placeholder="Enter Your Email Address"
          #email
          required
          (key.enter)="sendData($event)"
          name="emailInput"
          #emailInput="ngModel"
          ngModel
          email
        />
        <small
          *ngIf="registrationform.submitted"
          [ngStyle]="{ color: 'red', 'font-weight': 'bolder' }"
        >
          <span *ngIf="emailInput.hasError('required')">
            This field is mandatory
          </span>
          <span *ngIf="emailInput.hasError('email')">
            Please enter a valid email address
          </span>
        </small>
      </div>

      <div class="form-group mb-2">
        <label for="password" [style.font-weight]="'bolder'">Password:</label>
        <input
          type="password"
          class="form-control mt-1"
          placeholder="Enter Your Password"
          #password
          required
          (key.enter)="sendData($event)"
          name="passwordInput"
          #passwordInput="ngModel"
          ngModel
          minlength="2"
          maxlength="12"
        />
        <small
          *ngIf="registrationform.submitted"
          [ngStyle]="{ color: 'red', 'font-weight': 'bolder' }"
        >
          <span *ngIf="passwordInput.hasError('required')">
            This field is mandatory
          </span>
          <span *ngIf="passwordInput.hasError('minlength')">
            This field must contain atleast 2 characters
          </span>
        </small>
      </div>
      <div class="btns">
        <div class="btn-left">
          <button type="submit" class="btn btn-success my-1">Register</button>
        </div>
        <div class="btn-right">
          <p>Already an user</p>
          <a [routerLink]="['/login']">
            <button type="submit" class="btn btn-primary my-1">Login</button>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
