<div class="container">
  <div class="form pt-3">
    <form #loginform="ngForm" (ngSubmit)="formData(); submitValue(loginform)">
      <div class="form-group mb-3">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control mt-2"
          placeholder="Enter Your Email Address"
          name="email"
          #emailInput="ngModel"
          email
          required
          ngModel
        />
        <small
          *ngIf="loginform.submitted"
          [ngStyle]="{ color: 'red', 'font-weight': 'bolder' }"
        >
          <span *ngIf="emailInput.hasError('required')">
            This field is mandatory
          </span>
          <span *ngIf="emailInput.hasError('email')">
            Please enter a valid email address
          </span>
        </small>
      </div>

      <div class="form-group mb-3">
        <label for="password">Password:</label>
        <input
          type="password"
          class="form-control mt-2"
          placeholder="Enter Your Password"
          name="password"
          #passwordInput="ngModel"
          ngModel
          minlength="2"
          maxlength="12"
          required
        />
        <small
          *ngIf="loginform.submitted"
          [ngStyle]="{ color: 'red', 'font-weight': 'bolder' }"
        >
          <span *ngIf="passwordInput.hasError('required')">
            This field is mandatory
          </span>
          <span *ngIf="passwordInput.hasError('minlength')">
            This field must contain atleast 2 characters
          </span>
        </small>
      </div>
      <div class="btns">
        <div class="btn-left">
          <a>
            <button type="submit" class="btn btn-success my-2">Submit</button>
          </a>
        </div>
        <div class="btn-right">
          <p>New user</p>
          <a [routerLink]="['/registration']"
            ><button type="submit" class="btn btn-primary my-2">
              Register
            </button></a
          >
        </div>
      </div>
    </form>
  </div>
</div>
